<h1>Django Todo List</h1>

<div>
    <form action="/" method="post"> 
        {% csrf_token %}
        {{form.title}} 
        <input type="submit" value="create a task!">
    </form>
    
</div>

<div>
    <ul>
    {%for task in tasks%}
    <div>
        <br>
        <a href="{%url 'update_task' task.id%}">update task</a>
        <a href="{%url 'delete_task' task.id%}">delete task</a>
        {% if task.status == False %}
        <li>{{task.title}}</li>
        {% else %}
        <li><strike>{{task.title}}</strike></li>
        {% endif %}
        completion status: {{task.status}} || created at :{{task.created_at}} || updated at :{{task.updated_at}}
        <br>
    </div>
    {% endfor %}
    </ul>
</div>